[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "content/blog"]
	path = content/blog
	url = git@github.com:superterran/blog.git
